@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: "Roboto", sans-serif;
}

.blue {
    color: #2196F3;

}

.black {
    color: #212121; 
}

.description {
    color: #757575;
}

.background-services {
    background-color: #2196F3;
    color: white;
}

.background-color {
    background-color: #2F303A;
    color: white;
}

.white {
    color: white;
}

.background-gray {
    background-color: #F5F4FA;
    color: #212121;
}
